<div class="main bg-white p-6 rounded-lg shadow-lg">
    <div class="card">
        <div class="card-header">
            <h2 class="card-header heading text-2xl font-bold">Service Request</h2>
            <button class="card-header btn float-right" (click)="backServiceRequest()"><i
                    class="fa fa-reply"></i>&nbsp;&nbsp;Back</button>
        </div>
    </div>
    <!-- </div> -->

    <section class="flex items-center justify-center">
        <div class="container mt-4">
            <form novalidate="" [formGroup]="serviceRequestForm">
                <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3 ">
                    <div>
                        <label for="name" class="block mb-2 font-bold text-gray-600 ">Patient Name</label>
                        <input type="text" id="name" name="name" placeholder="Enter Patient Name"
                            class="border border-gray-300 shadow p-2 w-full rounded " formControlName="patientName" >
                        <div class="error-msg-area">
                            <div *ngIf="serviceRequestForm.controls['patientName'].errors && (!serviceRequestForm.controls['patientName'].pristine|| isserviceRequestFormSubmitted)"
                                class="error-msg">
                                <div [hidden]="!serviceRequestForm.controls['patientName'].errors.required">Please Enter
                                    Patient Name
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="serviceDate" class="block mb-2 font-bold text-gray-600 ">Date</label>
                        <input type="date" id="serviceDate" name="serviceDate" placeholder="Enter Role Name"
                            class="border border-gray-300 shadow p-2 w-full rounded mb-" formControlName="date">
                        <div class="error-msg-area">
                            <div *ngIf="serviceRequestForm.controls['date'].errors && (!serviceRequestForm.controls['date'].pristine|| isserviceRequestFormSubmitted)"
                                class="error-msg">
                                <div [hidden]="!serviceRequestForm.controls['date'].errors.required">Please Enter
                                    Staff Name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3 ">
                    <div>
                        <label for="service" class="block mb-2 font-bold text-gray-600 ">Service</label>
                        <select class="border border-gray-300 shadow p-2 w-full rounded" formControlName="service">
                            <option value="" disabled>--select--</option>
                            <option value="{{serviceList._id}}" *ngFor="let serviceList of serviceList">
                                {{serviceList.serviceName}}
                            </option>
                        </select>
                        <div class="error-msg-area">
                            <div *ngIf="serviceRequestForm.controls['service'].errors && (!serviceRequestForm.controls['service'].pristine|| isserviceRequestFormSubmitted)"
                                class="error-msg">
                                <div [hidden]="!serviceRequestForm.controls['service'].errors.required">
                                    Please Enter Service
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="staff" class="block mb-2 font-bold text-gray-600 ">Reference By</label>
                        <select class="border border-gray-300 shadow p-2 w-full rounded" formControlName="referenceBy"
                            placeholder="--select--" >
                            <option value="" disabled>--select--</option>
                            <option value="{{staffList._id}}" *ngFor="let staffList of staffList">
                                {{staffList.staffName}}
                            </option>
                        </select>
                        <div class="error-msg-area">
                            <div *ngIf="serviceRequestForm.controls['referenceBy'].errors && (!serviceRequestForm.controls['referenceBy'].pristine|| isserviceRequestFormSubmitted)"
                                class="error-msg">
                                <div [hidden]="!serviceRequestForm.controls['referenceBy'].errors.required">Please Enter
                                    Staff Name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3 ">
                    <div>
                        <label for="status" class="block mb-2 font-bold text-gray-600 ">Status</label>
                        <select class="border border-gray-300 shadow p-2 w-full rounded" formControlName="status">
                            <option value="" disabled>--select--</option>
                            <option value="Completed">Completed</option>
                            <option value="Reshedule">Reshedule</option>
                            <option value="Not Started">Not Started</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                        <div class="error-msg-area">
                            <div *ngIf="serviceRequestForm.controls['status'].errors && (!serviceRequestForm.controls['status'].pristine|| isserviceRequestFormSubmitted)"
                                class="error-msg">
                                <div [hidden]="!serviceRequestForm.controls['status'].errors.required">
                                    Please Select Status
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mb-4">
                    <button class="block float-right bg-teal-400 text-white font-bold p-2 rounded-lg"
                        (click)="updateServiceRequest()">update</button>
                </div>
            </form>
        </div>
    </section>
</div>