<div class="main bg-white p-6 rounded-lg shadow-lg">
    <div class="card">
        <div class="card-header">
            <h2 class="card-header heading text-2xl font-bold">Assign Service</h2>
            <button class="card-header btn float-right" (click)="addeditForm()"><i
                    class="fa fa-reply"></i>&nbsp;Back</button>
        </div>
    </div>
    <section class="flex items-center justify-center">
        <div class="container mt-4">
            <form novalidate="" [formGroup]="assignServiceForm">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="staffName" class="block mb-2 font-bold text-gray-600">Staff
                                Name<span class="required">*</span></label>
                            <select class="border border-gray-300  p-2 w-full rounded" formControlName="staffId"
                                placeholder="--select--" (change)="onChangeStaff($event)">
                                <option value="">--select--</option>
                                <option value="{{staff?._id}}" *ngFor="let staff of staffList">
                                    {{staff?.staffName}}
                                </option>
                            </select>
                            <div class="error-msg-area">
                                <div *ngIf="assignServiceForm.controls['staffId'].errors && (!assignServiceForm.controls['staffId'].pristine|| isassignServiceFormSubmitted)"
                                    class="error-msg">
                                    <div [hidden]="!assignServiceForm.controls['staffId'].errors.required">Please Choose
                                        Staff</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="name" class="block mb-2 font-bold text-gray-600 ">Date<span
                                    class="required">*</span></label>
                            <input type="text" class="form-control data-picker-color user-font" formControlName="date"
                                bsDatepicker
                                [bsConfig]="{ showWeekNumbers:false ,dateInputFormat: 'DD-MM-YYYY',isAnimated: true}"
                                placeholder="DD-MM-YYYY">
                            <div class="error-msg-area">
                                <div *ngIf="assignServiceForm.controls['date'].errors && (!assignServiceForm.controls['date'].pristine|| isassignServiceFormSubmitted)"
                                    class="error-msg">
                                    <div [hidden]="!assignServiceForm.controls['date'].errors.required">Please Enter
                                        Date</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="block bg-teal-400 text-white font-bold p-2 rounded-lg btn_show "
                                (click)="showAppointment()">Show Appointment</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="warpper mt-3">
                <input class="radio" id="one" name="group" type="radio" checked>
                <div class="tabs">
                    <label class="tab" id="one-tab" for="one">Add Client</label>
                </div>

                <div class="panels">
                    <div class="panel" id="one-panel">
                        <form class="form" novalidate="" [formGroup]="assignServiceClientForm">
                            <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3">
                                <div>
                                    <label for="clientId" class="block mb-2 font-bold text-gray-600">Client
                                        Name<span class="required">*</span></label>
                                    <ng-multiselect-dropdown [placeholder]="'-- Select --'" class="text-muted"
                                        [settings]="clientId" formControlName="clientId" [data]="clientArr"
                                        (ngModelChange)="onChangeClient($event)">
                                    </ng-multiselect-dropdown>
                                    <div class="error-msg-area">
                                        <div *ngIf="assignServiceClientForm.controls['clientId'].errors && (!assignServiceClientForm.controls['clientId'].pristine|| isassignServiceClientFormSubmitted)"
                                            class="error-msg">
                                            <div
                                                [hidden]="!assignServiceClientForm.controls['clientId'].errors.required">
                                                Please Choose Client
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="address" class="block mb-2 font-bold text-gray-600">Phone
                                        Number<span class="required">*</span></label>
                                    <input type="text" class="border border-gray-300 p-2 w-full rounded disabled"
                                        formControlName="phone" placeholder="Enter Phone Number">
                                    <div class="error-msg-area">
                                        <div *ngIf="assignServiceClientForm.controls['phone'].errors && (!assignServiceClientForm.controls['phone'].pristine|| isassignServiceClientFormSubmitted)"
                                            class="error-msg">
                                            <div [hidden]="!assignServiceClientForm.controls['phone'].errors.required">
                                                Please Enter Phone Number
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3">
                                <div>
                                    <label for="address" class="block mb-2 font-bold text-gray-600">Address<span
                                            class="required">*</span></label>
                                    <textarea class="border border-gray-300  p-2 w-full rounded disabled"
                                        id="inputPhysicalStreet" rows="3" ngx-google-places-autocomplete
                                        [options]='options' formControlName="address" name="address"
                                        #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
                                        autocomplete="false">
                                    </textarea>
                                    <div class="error-msg-area">
                                        <div *ngIf="assignServiceClientForm.controls['address'].errors && (!assignServiceClientForm.controls['address'].pristine|| isassignServiceClientFormSubmitted)"
                                            class="error-msg">
                                            <div
                                                [hidden]="!assignServiceClientForm.controls['address'].errors.required">
                                                Please Select Address
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="name" class="block mb-2 font-bold text-gray-600 ">Type<span
                                            class="required">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="typeOfTreatment"
                                                    id="inlineRadio1" [value]=0 formControlName="typeOfTreatment"
                                                    (click)="changeOP(0)" />
                                                <label class="form-check-label" for="inlineRadio1">Home</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="typeOfTreatment"
                                                    id="inlineRadio2" [value]=1 formControlName="typeOfTreatment"
                                                    (click)="changeOP(1)" />
                                                <label class="form-check-label" for="inlineRadio2">OP</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="typeOfTreatment"
                                                    id="inlineRadio3" [value]=2 formControlName="typeOfTreatment"
                                                    (click)="changeOP(2)" />
                                                <label class="form-check-label" for="inlineRadio3">Online</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="typeOfTreatment"
                                                    id="inlineRadio4" [value]=3 formControlName="typeOfTreatment"
                                                    (click)="changeOP(3)" />
                                                <label class="form-check-label" for="inlineRadio3">IP</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="typeOfTreatment"
                                                    id="inlineRadio5" [value]=4 formControlName="typeOfTreatment"
                                                    (click)="changeOP(4)" />
                                                <label class="form-check-label" for="inlineRadio3">Assessment</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="error-msg-area">
                                        <div *ngIf="assignServiceClientForm.controls['typeOfTreatment'].errors && (!assignServiceClientForm.controls['typeOfTreatment'].pristine|| isassignServiceClientFormSubmitted)"
                                            class="error-msg">
                                            <div
                                                [hidden]="!assignServiceClientForm.controls['typeOfTreatment'].errors.required">
                                                Please Select Type Of Treatment
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3 ">
                                <div>
                                    <label for="name" class="block mb-2 font-bold text-gray-600 ">Select Branch<span
                                            class="required">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="branchType"
                                                    id="inlineRadio6" [value]="0" formControlName="branchType"
                                                    (click)="ChooseHomeBranch(0)" />
                                                <label class="form-check-label" for="inlineRadio1">Home Branch</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="branchType"
                                                    id="inlineRadio7" [value]="1" formControlName="branchType"
                                                    (click)="ChooseHomeBranch(1)" />
                                                <label class="form-check-label" for="inlineRadio2">Branch</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="error-msg-area">
                                        <div *ngIf="assignServiceClientForm.controls['branchType'].errors && (!assignServiceClientForm.controls['branchType'].pristine|| isassignServiceClientFormSubmitted)"
                                            class="error-msg">
                                            <div
                                                [hidden]="!assignServiceClientForm.controls['branchType'].errors.required">
                                                Please Select Branch Type
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="name" class="block mb-2 font-bold text-gray-600 ">Service<span
                                            class="required">*</span></label>
                                    <select class="border border-gray-300  p-2 w-full rounded"
                                        formControlName="serviceId">
                                        <option value="">--select--</option>
                                        <option value="{{service?._id}}" *ngFor="let service of serviceList">
                                            {{service?.serviceName}}
                                        </option>
                                    </select>
                                    <div class="error-msg-area">
                                        <div *ngIf="assignServiceClientForm.controls['serviceId'].errors && (!assignServiceClientForm.controls['serviceId'].pristine|| isassignServiceClientFormSubmitted)"
                                            class="error-msg">
                                            <div
                                                [hidden]="!assignServiceClientForm.controls['serviceId'].errors.required">
                                                Please Choose Service
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3">
                                <div>
                                    <label for="branchId" class="block mb-2 font-bold text-gray-600">Branch
                                        Name<span class="required">*</span></label>
                                    <select class="border border-gray-300 p-2 w-full rounded" formControlName="branchId"
                                        (change)="onChangegetBranchbyId($event)">
                                        <option value="">--select--</option>
                                        <option value="{{branchList._id}}" *ngFor="let branchList of branchList">
                                            {{branchList.branchName}}
                                        </option>
                                    </select>
                                    <div class="error-msg-area">
                                        <div *ngIf="assignServiceClientForm.controls['branchId'].errors && (!assignServiceClientForm.controls['branchId'].pristine|| isassignServiceClientFormSubmitted)"
                                            class="error-msg">
                                            <div
                                                [hidden]="!assignServiceClientForm.controls['branchId'].errors.required">
                                                Please Choose Branch
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="address" class="block mb-2 font-bold text-gray-600">Branch
                                        Address<span class="required">*</span></label>
                                    <textarea class="border border-gray-300 p-2 w-full rounded disabled"
                                        id="branchAddress" rows="3" ngx-google-places-autocomplete [options]='options'
                                        formControlName="branchAddress" name="branchAddress" #placesRef="ngx-places"
                                        (onAddressChange)="handleAddressChange($event)" autocomplete="false">
                                    </textarea>
                                </div>
                            </div>
                            <div class="grid sm:grid-cols-1 md:grid-cols-1 md:gap-3" *ngIf="showOp">
                                <div>
                                    <label class="block mb-2 font-bold text-gray-600">OP<span class="required">*</span>
                                    </label>
                                    <select class="border border-gray-300 shadow p-2 w-full rounded"
                                        formControlName="opType" (change)="onChangeOpType($event)">
                                        <option value="">--select--</option>
                                        <option value="{{opType.id}}" *ngFor="let opType of opTypes">
                                            {{opType.Name}}
                                        </option>
                                    </select>
                                    <div class="error-msg-area">
                                        <div *ngIf="assignServiceClientForm.controls['opType'].errors && (!assignServiceClientForm.controls['opType'].pristine|| isassignServiceClientFormSubmitted)"
                                            class="error-msg">
                                            <div [hidden]="!assignServiceClientForm.controls['opType'].errors.required">
                                                Please Select OP Type
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3" *ngIf="typeSelection">
                                <div>
                                    <label for="branchId" class="block mb-2 font-bold text-gray-600">Other Branch<span
                                            class="required">*</span>
                                    </label>
                                    <select class="border border-gray-300 shadow p-2 w-full rounded"
                                        formControlName="otherBranchId" (change)="getotherBranchbyId($event)">
                                        <option value="">--select--</option>
                                        <option value="{{branchList._id}}" *ngFor="let branchList of branchList">
                                            {{branchList.branchName}}
                                        </option>
                                    </select>
                                    <div class="error-msg-area">
                                        <div *ngIf="assignServiceClientForm.controls['otherBranchId'].errors && (!assignServiceClientForm.controls['otherBranchId'].pristine|| isassignServiceClientFormSubmitted)"
                                            class="error-msg">
                                            <div
                                                [hidden]="!assignServiceClientForm.controls['otherBranchId'].errors.required">
                                                Please Select Other Branch Name
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="address" class="block mb-2 font-bold text-gray-600 ">Other Branch
                                        Address<span class="required">*</span></label>
                                    <textarea class="border border-gray-300  p-2 w-full rounded disabled"
                                        id="otherBranchAddress" rows="3" ngx-google-places-autocomplete
                                        [options]='options' formControlName="otherBranchAddress" name="branchAddress"
                                        #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
                                        autocomplete="false">
                                    </textarea>
                                    <div class="error-msg-area">
                                        <div *ngIf="assignServiceClientForm.controls['otherBranchAddress'].errors && (!assignServiceClientForm.controls['otherBranchAddress'].pristine|| isassignServiceClientFormSubmitted)"
                                            class="error-msg">
                                            <div
                                                [hidden]="!assignServiceClientForm.controls['otherBranchAddress'].errors.required">
                                                Please Select Address
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid sm:grid-cols-1 md:grid-cols-1 md:gap-3" *ngIf="showonline">
                                <div>
                                    <label for="address" class="block mb-2 font-bold text-gray-600">Online Link<span
                                            class="required">*</span>
                                    </label>
                                    <input type="textarea" class="border border-gray-300 p-2 w-full rounded "
                                        formControlName="onlineLink" placeholder="Online Link">
                                </div>
                            </div>
                            <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3">
                                <div>
                                    <label for="Branch" class="block mb-2 font-bold text-gray-600 ">Slots<span
                                            class="required">*</span></label>
                                    <select class="border border-gray-300  p-2 w-full rounded" formControlName="slot"
                                        (change)="Slot($event)">
                                        <option value="">--select--</option>+
                                        <option value="{{slot._id}}" *ngFor="let slot of slotName">
                                            {{slot.slotName}}
                                        </option>
                                    </select>
                                    <div class="error-msg-area">
                                        <div *ngIf="assignServiceClientForm.controls['slot'].errors && (!assignServiceClientForm.controls['slot'].pristine|| isassignServiceClientFormSubmitted)"
                                            class="error-msg">
                                            <div [hidden]="!assignServiceClientForm.controls['slot'].errors.required">
                                                Please Choose slot
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="Branch" class="block mb-2 font-bold text-gray-600">Duration<span
                                            class="required">*</span></label>
                                    <select class="border border-gray-300  p-2 w-full rounded"
                                        (change)="dividingSlot($event)" formControlName="duration">
                                        <option value="">--select--</option>
                                        <option value="{{Duration.id}}" *ngFor="let Duration of sessionDuration">
                                            {{Duration.time}}
                                        </option>
                                    </select>
                                    <div class="error-msg-area">
                                        <div *ngIf="assignServiceClientForm.controls['duration'].errors && (!assignServiceClientForm.controls['duration'].pristine|| isassignServiceClientFormSubmitted)"
                                            class="error-msg">
                                            <div
                                                [hidden]="!assignServiceClientForm.controls['duration'].errors.required">
                                                Please select duration
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-12" *ngIf="isShowSlotTime">
                                    <div class="card min-h-37">
                                        <div class="card-header bg-appointment text-center mb-3">
                                            <span class="font-weight-bold">{{AssignServiceDate}}</span>
                                        </div>
                                        <ng-container>
                                            <div class="card-body py-0">
                                                <ng-container>
                                                    <div class="text-center">{{startTime}}-{{endTime}}
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <ng-container *ngFor="let slot of timeInterval; let i = index;">
                                                                <div class="col-md-4 sessionSlots card"
                                                                    [ngClass]="(slot.bookedStatus == 1) ? 'bg-gray-300' : 'pointer'"
                                                                    (click)="(slot.bookedStatus == 1) ? '' : slotSelection(slot,i)">
                                                                    {{slot.slot}}
                                                                    <div class="badge_position">
                                                                        <span class="badge bg-teal-400"
                                                                            *ngIf="(i==slotSelectedIndex)">Booked</span>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <button class="block float-right bg-teal-400 text-white font-bold p-2 rounded-lg mt-3"
                                    (click)="saveAssignService()" *ngIf="!showAddEdit">Add Assign Service</button>
                                <button class="block float-right bg-teal-400 text-white font-bold p-2 rounded-lg mt-3"
                                    (click)="updateassignService()" *ngIf="showAddEdit">Update Assign Service</button>
                            </div>
                        </form>
                        <section class="flex items-center justify-center" *ngIf="showAppointmentTable">
                            <div class="container">
                                <table
                                    class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
                                    <thead class="text-white">
                                        <tr
                                            class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                                            <th class="p-3 text-left">Staff Name</th>
                                            <th class="p-3 text-left">Date</th>
                                            <th class="p-3 text-left">Client Name</th>
                                            <th class="p-3 text-left">Phone Number</th>
                                            <th class="p-3 text-left">Address</th>
                                            <th class="p-3 text-left">Service</th>
                                            <th class="p-3 text-left">StartTime</th>
                                            <th class="p-3 text-left">End Time</th>
                                            <th class="p-3 text-left">Status</th>
                                            <th class="p-3 text-left">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="flex-1 sm:flex-none"
                                        *ngFor="let assignServiceList of assignServiceArray">
                                        <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
                                            <td class="border-grey-light border hover:bg-gray-100 p-3">
                                                {{assignServiceList.staffName}}</td>
                                            <td class="border-grey-light border hover:bg-gray-100 p-3">
                                                {{assignServiceList.date}}
                                            </td>
                                            <td class="border-grey-light border hover:bg-gray-100 p-3">
                                                {{assignServiceList.clientName}}</td>
                                            <td class="border-grey-light border hover:bg-gray-100 p-3">
                                                {{assignServiceList.phone}}</td>
                                            <td class="border-grey-light border hover:bg-gray-100 p-3">
                                                {{assignServiceList.address}}
                                            </td>
                                            <td class="border-grey-light border hover:bg-gray-100 p-3">
                                                {{assignServiceList.serviceName}}</td>
                                            <td class="border-grey-light border hover:bg-gray-100 p-3">
                                                {{assignServiceList.startTime}}</td>
                                            <td class="border-grey-light border hover:bg-gray-100 p-3">
                                                {{assignServiceList.endTime}}
                                            </td>
                                            <td class="border-grey-light border hover:bg-gray-100 p-3">
                                                <button class="btn" style="background-color: rgb(177, 9, 87);"
                                                    *ngIf="assignServiceList.status == 0">Assigned</button>
                                                <button class="btn" style="background-color: green;"
                                                    *ngIf="assignServiceList.status == 1">Completed</button>
                                                <button class="btn" style="background-color: rgb(255, 204, 0);"
                                                    *ngIf="assignServiceList.status == 2">Reshedule</button>
                                                <button class="btn" style="background-color: rgb(233, 19, 4);"
                                                    *ngIf="assignServiceList.status == 3">Not Available</button>
                                                <button class="btn" style="background-color: rgb(18, 69, 134);"
                                                    *ngIf="assignServiceList.status == 4">Distance Mismatch</button>
                                            </td>
                                            <td
                                                class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer">
                                                <button class="btn"
                                                    (click)="editAssignServiceClient(assignServiceList._id)"><i
                                                        class='fa fa-edit'></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-flash-message></app-flash-message>