<section class="min-h-screen flex items-stretch text-white ">
    <div class="lg:flex w-1/2 hidden bg-gray-500 bg-no-repeat bg-cover relative items-center"
        style="background-image: url(assets/images/LoginPage.avif)">
        <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
        <div class="w-full px-24 z-10">
            <h1 class="text-5xl font-bold text-center tracking-wide">Hamsa Rehab</h1>
            <p class="text-3xl my-4">Help person with disability rebuild their Quality of Life with hope, independence
                and dignity.</p>
        </div>
    </div>
    <div class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-0 z-0"
        style="background-color: #163339;">
        <div class="absolute lg:hidden z-10 inset-0 bg-gray-500 bg-no-repeat bg-cover items-center"
            style="background-image: url(https://images.unsplash.com/photo-1577495508048-b635879837f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8f);">
            <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
        </div>
        <div class="w-full py-6 z-20">
            <img class="my-6" src="assets/images/Logo.png" alt="#" style="max-width: 50%; display: initial;">
            <!-- <div class="py-6 space-x-2">
                    <span class="w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 border-white">f</span>
                    <span class="w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 border-white">G+</span>
                    <span class="w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 border-white">in</span>
                </div> -->
            <p class="text-gray-100">
                    Forget Password
                </p>
            <form [formGroup]="forgetPasswordForm" class="sm:w-2/3 w-full px-4 lg:px-0 mx-auto">
                <div class="pb-2 pt-4">
                    <input type="email" name="email" id="email" placeholder="Email Id"
                        formControlName="email" class="block w-full p-3 text-lg rounded-full bg-black">
                    <div class="error-msg-area fw-bolder" style="font-size: 14px!important;">
                        <div
                            *ngIf="forgetPasswordForm.controls['email'].errors && (!forgetPasswordForm.controls['email'].pristine|| isFormSubmit)">
                            <div [hidden]="!forgetPasswordForm.controls['email'].errors">Please Enter
                                valid Email Id
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 pb-2 pt-4">
                    <button (click)="onSubmit()"
                        class="uppercase block w-full p-3 text-lg rounded-full hover:bg-indigo-600 focus:outline-none" style="background-color: #f2ba15;">
                    Send
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<app-flash-message></app-flash-message>