.warpper {
    display: flex;
    flex-direction: column;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: rgb(45 212 191);
    display: inline-block;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.4rem #00000080;
}
::ng-deep .theme-green .bs-datepicker-head {
    background-color: #2dd4bf !important;
}

.panels {
    background: #fff;
    box-shadow: 0 1rem 1rem #00000080;
    min-height: 200px;
    width: 100%;
    border-radius: 3px;
    // overflow: hidden;
    padding: 20px;
    text-align: left;
}

.panel {
    display: none;
    animation: fadein 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.panel-title {
    font-size: 1.5em;
    font-weight: normal;
}

.radio {
    display: none;
}

#one:checked~.panels #one-panel,
#two:checked~.panels #two-panel,
#three:checked~.panels #three-panel,
#four:checked~.panels #four-panel {
    display: block;
}

#one:checked~.tabs #one-tab,
#two:checked~.tabs #two-tab,
#three:checked~.tabs #three-tab,
#four:checked~.tabs #four-tab {
    background: #fff;
    color: #000;
    border-top: 3px solid rgb(45 212 191);
}
.size{
    width: 123px;
    display: flex;
    justify-content: center;
}
.head-size{
    width: 172px;
}
.scrollmenu {
    // background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }

  .table1 {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    
}
.submitActivity{
    position: absolute;
    right: 209px;
    top: 229px;
}
// .head{
//     width: 200px !important;
// }


