<div class="main bg-white p-6 rounded-lg ">
    <div class="card">
        <div class="card-header">
            <h2 class="card-header heading text-2xl font-bold">Branch Transfer</h2>
            <button class="card-header btn float-right" (click)="backTostaff()"><i
                    class="fa fa-reply"></i>&nbsp;Back</button>
        </div>
    </div>
    <section class="flex items-center justify-center">
        <div class="container mt-4">
            <form novalidate="" [formGroup]="branchTransferForm">
                <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3">
                    <div>
                        <label for="name" class="block mb-2 font-bold text-gray-600 ">Select Branch<span class="required">*</span></label>
                        <div class="flex items-center mr-4" >
                            <label for="teal-radio" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                <input id="teal-radio" type="radio" [value]=0 formControlName="branchTransferType"
                                name="branchTransferType" (change)="branchTypeChange()"
                                class="w-4 h-4 text-teal-600 bg-gray-100 border-gray-300 focus:ring-teal-500 dark:focus:ring-teal-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                Temporary</label>
                                            
                            <label class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                <input id="teal-radio" checked type="radio" checked [value]=1  name="branchTransferType" (change)="branchTypeChange()"
                                formControlName="branchTransferType" class="w-4 h-4 text-teal-600 bg-gray-100 border-gray-300 focus:ring-teal-500 dark:focus:ring-teal-600 
                                dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 ml-4"> Permanent</label>
                        </div>
                        <div class="error-msg-area">
                            <div *ngIf="branchTransferForm.controls['branchTransferType'].errors && (!branchTransferForm.controls['branchTransferType'].pristine|| isbranchTransferFormSubmitted)"
                                class="error-msg">
                                <div [hidden]="!branchTransferForm.controls['branchTransferType'].errors.required">
                                    Please Enter Branch Transfer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!ishidden">
                        <label for="startDate" class="block mb-2 font-bold text-gray-600">Start Date<span class="required">*</span></label>
                        <input type="text" class="form-control data-picker-color user-font"
                            formControlName="startDate" bsDatepicker
                            [bsConfig]="{ showWeekNumbers:false ,dateInputFormat: 'DD-MM-YYYY',isAnimated: true}"
                            (bsValueChange)="dateSame($event)" [minDate]="minDate" (input)="inputdobValidator($event)"
                            placeholder="DD-MM-YYYY">
                        <div class="error-msg-area">
                            <div *ngIf="branchTransferForm.controls['startDate'].errors && (!branchTransferForm.controls['startDate'].pristine|| isbranchTransferFormSubmitted)"
                                class="error-msg">
                                <div [hidden]="!branchTransferForm.controls['startDate'].errors.required">
                                    Please Enter Start Date
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <div *ngIf="!ishidden">
                        <label for="startDate" class="block mb-2 font-bold text-gray-600">Start Date</label>
                        <input type="date" class="border border-gray-300 shadow p-2 w-full rounded "
                            placeholder="Select Start Date" formControlName="startDate">
                        <div class="error-msg-area">
                            <div *ngIf="branchTransferForm.controls['startDate'].errors && (!branchTransferForm.controls['startDate'].pristine|| isbranchTransferFormSubmitted)"
                                class="error-msg">
                                <div [hidden]="!branchTransferForm.controls['startDate'].errors.required">
                                    Please Enter Time
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3" *ngIf="ishidden ">
                        <div>
                            <label for="startDate" class="block mb-2 font-bold text-gray-600">Start Date</label>
                            <input type="date" class="border border-gray-300 shadow p-2 w-full rounded "
                                placeholder="Select Start Date" formControlName="startDate" (change)="dateSame($event.target)">
                            <div class="error-msg-area">
                                <div *ngIf="branchTransferForm.controls['startDate'].errors && (!branchTransferForm.controls['startDate'].pristine|| isbranchTransferFormSubmitted)"
                                    class="error-msg">
                                    <div [hidden]="!branchTransferForm.controls['startDate'].errors.required">
                                        Please Enter Time
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="endDate" class="block mb-2 font-bold text-gray-600">End Date</label>
                            <input class="border border-gray-300 shadow p-2 w-full rounded " type="date"
                                placeholder="Select End Date" formControlName="endDate" (change)="dateSame1($event.target)">
                            <div class="error-msg-area">
                                <div *ngIf="branchTransferForm.controls['endDate'].errors && (!branchTransferForm.controls['endDate'].pristine|| isbranchTransferFormSubmitted)"
                                    class="error-msg">
                                    <div [hidden]="!branchTransferForm.controls['endDate'].errors.required">
                                        Please Enter Time
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3" *ngIf="ishidden ">
                        <div>
                            <label for="startDate" class="block mb-2 font-bold text-gray-600">Start Date<span class="required">*</span></label>
                            <input type="text" class="form-control data-picker-color user-font"
                            formControlName="startDate" bsDatepicker
                            [bsConfig]="{ showWeekNumbers:false ,dateInputFormat: 'DD-MM-YYYY',isAnimated: true}"
                            (bsValueChange)="dateSame($event)" [minDate]="minDate" (input)="inputdobValidator($event)"
                            placeholder="DD-MM-YYYY">
                            <!-- <input type="date" class="border border-gray-300 shadow p-2 w-full rounded "
                                placeholder="Select Start Date" formControlName="startDate" (change)="dateSame($event.target)"> -->
                            <div class="error-msg-area">
                                <div *ngIf="branchTransferForm.controls['startDate'].errors && (!branchTransferForm.controls['startDate'].pristine|| isbranchTransferFormSubmitted)"
                                    class="error-msg">
                                    <div [hidden]="!branchTransferForm.controls['startDate'].errors.required">
                                        Please Enter Start Date
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="endDate" class="block mb-2 font-bold text-gray-600">End Date<span class="required">*</span></label>
                            <input type="text" class="form-control data-picker-color user-font"
                            formControlName="endDate" bsDatepicker
                            [bsConfig]="{ showWeekNumbers:false ,dateInputFormat: 'DD-MM-YYYY',isAnimated: true}"
                            (bsValueChange)="dateSame1($event)" [minDate]="minDate" (input)="inputdobValidator($event)"
                             placeholder="DD-MM-YYYY">
                            <div class="error-msg-area">
                                <div *ngIf="branchTransferForm.controls['endDate'].errors && (!branchTransferForm.controls['endDate'].pristine|| isbranchTransferFormSubmitted)"
                                    class="error-msg">
                                    <div [hidden]="!branchTransferForm.controls['endDate'].errors.required">
                                        Please Enter End Date
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3 " *ngIf="isShowTime && ishidden " >
                    <div>
                        <label for="twitter" class="block mb-2 font-bold text-gray-600">Start Time<span class="required">*</span></label>
                        <input class="border border-gray-300  p-2 w-full rounded " type="text"
                            placeholder="Select Start Time" formControlName="startTime" name="startTime"
                            [ngxTimepicker]="startrange"  [format]="24">
                        <ngx-material-timepicker #startrange (opened)="startpickerOpened = true;"
                            [defaultTime]="'06:00 am'" [minutesGap]="5"></ngx-material-timepicker>
                        <div class="error-msg-area">
                            <div *ngIf="branchTransferForm.controls['startTime'].errors && (!branchTransferForm.controls['startTime'].pristine|| isbranchTransferFormSubmitted)"
                                class="error-msg">
                                <div [hidden]="!branchTransferForm.controls['startTime'].errors.required">Please Enter Start Time
                                </div>
                            </div>
                        </div>
                    </div>
                    <div >
                        <label for="name" class="block mb-2 font-bold text-gray-600">End Time<span class="required">*</span></label>
                        <input class="border border-gray-300  p-2 w-full rounded " type="text"
                            placeholder="Select End Time" formControlName="endTime" name="endTime"
                            [ngxTimepicker]="Endrange" [format]="24" >
                        <ngx-material-timepicker #Endrange (opened)="endpickerOpened = true;" [defaultTime]="'18:00 pm'"
                            [minutesGap]="5">
                        </ngx-material-timepicker>
                        <div class="error-msg-area">
                            <div *ngIf="branchTransferForm.controls['endTime'].errors && (!branchTransferForm.controls['endTime'].pristine|| isbranchTransferFormSubmitted)"
                                class="error-msg">
                                <div [hidden]="!branchTransferForm.controls['endTime'].errors.required">Please Enter End Time
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-3">
                    <div>
                        <label for="branchId" class="block mb-2 font-bold text-gray-600">Branch
                            Name<span class="required">*</span></label>
                        <select class="border border-gray-300  p-2 w-full rounded"
                            formControlName="branchId" (change)="getBranchbyId($event)">
                            <option value="" disabled>--select--</option>+

                            <option value="{{branch._id}}" *ngFor="let branch of branchList">
                                {{branch.branchName}}
                            </option>
                        </select>
                        <div class="error-msg-area">
                            <div *ngIf="branchTransferForm.controls['branchId'].errors && (!branchTransferForm.controls['branchId'].pristine|| isbranchTransferFormSubmitted)"
                                class="error-msg">
                                <div
                                    [hidden]="!branchTransferForm.controls['branchId'].errors.required">
                                    Please Select Branch Name
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="address" class="block mb-2 font-bold text-gray-600">Branch
                            Address<span class="required">*</span></label>
                        <textarea class="border border-gray-300  p-2 w-full rounded" id="branchAddress"
                            rows="3" ngx-google-places-autocomplete [options]='options'
                            formControlName="branchAddress" name="branchAddress" #placesRef="ngx-places"
                            (onAddressChange)="handleAddressChange($event)" autocomplete="false"></textarea>
                        <div class="error-msg-area">
                            <div *ngIf="branchTransferForm.controls['branchAddress'].errors && (!branchTransferForm.controls['branchAddress'].pristine|| isbranchTransferFormSubmitted)"
                                class="error-msg">
                                <div
                                    [hidden]="!branchTransferForm.controls['branchAddress'].errors.required">
                                    Please Select Address
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="block float-right bg-teal-400 text-white font-bold p-2 rounded-lg" *ngIf="!showAddEdit"
                    (click)="addBranchTransfer()">Submit</button>
                <button class="block float-right bg-teal-400 text-white font-bold p-2 rounded-lg" *ngIf="showAddEdit"
                    (click)="updateBranchTransfer()">Update</button>
            </form>

        </div>
    </section>
</div>
<app-flash-message></app-flash-message>