::ng-deep .theme-green .bs-datepicker-head {
    background-color: #2dd4bf !important;
}
::ng-deep ngx-material-timepicker-content {
    --button-color: #2dd4bf !important;
    --dial-background-color: #2dd4bf !important;
    --dial-editable-active-color: #2dd4bf !important;
    --clock-hand-color: #2dd4bf !important;
}
// ::ng-deep .bs-datepicker-body table td.active-week span:hover 
// {
//   background-color: #2dfbcd !important; 
// }