<div class="main bg-white p-6 rounded-lg shadow-lg">
    <div class="card">
        <div class="card-header">
            <h2 class="card-header heading text-2xl font-bold">Dashboard</h2>
        </div>
    </div>
    <section class="flex items-center justify-center">
        <div class="container">
<form class="form" novalidate="" [formGroup]="dashboardForm">
            <div class="col-12 col-md-6 display-block float-right mt-3">
                <div class="input-group-lg">
                <select class="form-control data-picker-color user-font" formControlName="staffId" (change)="dash()">
                    <option value="">--select--</option>
                        <option *ngFor="let staff of staffList"  value="{{staff._id}}" >
                            {{staff.staffName}}
                        </option>
                </select>
            </div>
            </div>
</form>
            <h4 class="progressBar-heading mt-7">Assigned Service Status</h4>
            <div class="progressBar mt-5" *ngFor="let data of arr">
                <div>
                    <circle-progress 
                    [percent]="this.Assign"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#b10957'"
                    [innerStrokeColor]="'#d57fa7'"
                    [animation]="true"
                    [animationDuration]="300"
                  ></circle-progress>
                    <h4 class="progressBar-name" style="color:rgb(177, 9, 87)">Assigned</h4>
                </div>
                <div>
                    <circle-progress 
                    [percent]="this.Completed"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                  ></circle-progress>
                    <h4 class="progressBar-name" style="color:green">Completed</h4>
                </div>
                <div>
                    <circle-progress 
                    [percent]="this.Rescheduled"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffcc00'"
                    [innerStrokeColor]="'#d7c373'"
                    [animation]="true"
                    [animationDuration]="300"
                  ></circle-progress>
                    <h4 class="progressBar-name" style="color:rgb(255, 204, 0)">Rescheduled</h4>
                </div>
                <!-- <div>
                    <round-progress [current]="notAvailableLength" [max]="100"
                        [color]="'rgb(233, 19, 4)'" [background]="'#eaeaea'" [radius]="65" [stroke]="25"
                        [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="800"
                        [animation]="'easeInOutQuart'" [animationDelay]="800">
                    </round-progress>
                    <h4 class="progressBar-name" style="color:rgb(233, 19, 4)">Not Available</h4>
                </div> -->
            </div>
        </div>
    </section>

    <div class="warpper mt-3">
        <input class="radio" id="one" name="group" type="radio" (click)="dashBoard(0)" checked>
        <input class="radio" id="two" name="group" type="radio" (click)="dashBoard(1)">
        <input class="radio" id="three" name="group" type="radio" (click)="dashBoard(2)">
        <input class="radio" id="four" name="group" type="radio" (click)="dashBoard(3)">
        <input class="radio" id="five" name="group" type="radio" (click)="dashBoard(4)">

        <div class="tabs">
            <label class="tab" id="one-tab" for="one" >TODAY</label>
            <label class="tab" id="two-tab" for="two" >YESTERDAY</label>
            <label class="tab" id="three-tab" for="three" >PAST 7 DAYS</label>
            <label class="tab" id="four-tab" for="four" >PAST 30 DAYS</label>
            <label class="tab" id="five-tab" for="five">CUSTOM</label>
        </div>

        <div class="panels">
            <div class="panel" id="one-panel" >
                <div class="row g-3 mb-3 row-deck">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Total working Hours</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">-</span></div> -->
                                <!-- <small class="text-muted d-block">This week: -</small> -->
                                <!-- <small class="text-muted d-block">This month: -</small> -->
                                <p>{{dashBoardData?.TotalTimeTracked}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Productive time</span>
                                <p>{{dashBoardData?.ProductiveTime}}</p>
                                <!-- <div><span class="fs-6 fw-bold me-2">-</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 25px;">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 d-none">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Distance Mismatch</span>
                                <div><span class="fs-6 fw-bold me-2">-</span></div>
                                <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 30%" aria-valuenow="35"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-title">Average Visiting Count</div>
                <div class="row g-3 mb-3 row-deck">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">OP</span>
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.OP}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">IP</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">7H</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.IP}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Teletherapy</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">7H</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.TeleTherapy}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Home</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">5 Count</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.Home}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panels">
            <div class="panel" id="two-panel" >
                <div class="row g-3 mb-3 row-deck">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Total working Hours</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">-</span></div> -->
                                <!-- <small class="text-muted d-block">This week: -</small> -->
                                <!-- <small class="text-muted d-block">This month: -</small> -->
                                <p>{{dashBoardData?.TotalTimeTracked}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Productive time</span>
                                <p>{{dashBoardData?.ProductiveTime}}</p>
                                <!-- <div><span class="fs-6 fw-bold me-2">-</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 25px;">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6  d-none">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Distance Mismatch</span>
                                <div><span class="fs-6 fw-bold me-2">-</span></div>
                                <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 30%" aria-valuenow="35"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-title">Average Visiting Count</div>
                <div class="row g-3 mb-3 row-deck" >
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">OP</span>
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.OP}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">IP</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">7H</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.IP}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Teletherapy</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">7H</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.TeleTherapy}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Home</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">5 Count</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.Home}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panels">
            <div class="panel" id="three-panel" >
                <div class="row g-3 mb-3 row-deck" >
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Total working Hours</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">-</span></div> -->
                                <!-- <small class="text-muted d-block">This week: -</small> -->
                                <!-- <small class="text-muted d-block">This month: -</small> -->
                                <p>{{dashBoardData?.TotalTimeTracked}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Productive time</span>
                                <p>{{dashBoardData?.ProductiveTime}}</p>
                                <!-- <div><span class="fs-6 fw-bold me-2">-</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 25px;">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6  d-none">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Distance Mismatch</span>
                                <div><span class="fs-6 fw-bold me-2">-</span></div>
                                <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 30%" aria-valuenow="35"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-title">Average Visiting Count</div>
                <div class="row g-3 mb-3 row-deck" >
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">OP</span>
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.OP}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">IP</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">7H</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.IP}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Teletherapy</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">7H</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.TeleTherapy}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Home</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">5 Count</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.Home}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panels">
            <div class="panel" id="four-panel" >
                <div class="row g-3 mb-3 row-deck" >
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Total working Hours</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">-</span></div> -->
                                <!-- <small class="text-muted d-block">This week: -</small> -->
                                <!-- <small class="text-muted d-block">This month: -</small> -->
                                <p>{{dashBoardData?.TotalTimeTracked}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Productive time</span>
                                <p>{{dashBoardData?.ProductiveTime}}</p>
                                <!-- <div><span class="fs-6 fw-bold me-2">-</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 25px;">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6  d-none">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Distance Mismatch</span>
                                <div><span class="fs-6 fw-bold me-2">-</span></div>
                                <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 30%" aria-valuenow="35"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-title">Average Visiting Count</div>
                <div class="row g-3 mb-3 row-deck" >
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">OP</span>
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.OP}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">IP</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">7H</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.IP}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Teletherapy</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">7H</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.TeleTherapy}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Home</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">5 Count</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.Home}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panels">
            <div class="panel" id="five-panel">
                <div class="panel-title"></div>
                <div class="col-xl-5 col-lg-12 col-md-12" >
                    <div class="row g-2">
                        <div class="col-12 col-md-6">
                            <form  [formGroup]="dashboardForm">
                                <input type="text" class="form-control data-picker-color user-font" (change)="changeDate()"
                                    formControlName="customDate" bsDatepicker  
                                    [bsConfig]="{ showWeekNumbers:false ,dateInputFormat: 'DD-MM-YYYY',isAnimated: true}"
                                    maxlength="10" placeholder="DD-MM-YYYY">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row g-3 mb-3 mt-3 row-deck" >
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Total working Hours</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">-</span></div> -->
                                <!-- <small class="text-muted d-block">This week: -</small> -->
                                <!-- <small class="text-muted d-block">This month: -</small> -->
                                <p>{{dashBoardData?.TotalTimeTracked}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Productive time</span>
                                <p>{{dashBoardData?.ProductiveTime}}</p>
                                <!-- <div><span class="fs-6 fw-bold me-2">-</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 25px;">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 d-none">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Distance Mismatch</span>
                                <div><span class="fs-6 fw-bold me-2">-</span></div>
                                <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 30%" aria-valuenow="35"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-title">Average Visiting Count</div>
                <div class="row g-3 mb-3 row-deck" >
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">OP</span>
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.OP}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">IP</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">7H</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.IP}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Teletherapy</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">7H</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.TeleTherapy}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body py-xl-4 py-3">
                                <span class="text-muted">Home</span>
                                <!-- <div><span class="fs-6 fw-bold me-2">5 Count</span></div> -->
                                <!-- <div class="progress mt-4" style="height: 8px;">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <p>{{dashBoardData?.Home}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>