<div class="main bg-white p-6 rounded-lg shadow-lg">
  <div class="card">
    <div class="card-header">
      <h2 class="card-header heading text-2xl font-bold">Transport Expense List</h2>
      <button class="card-header btn float-right" (click)="addTransportExpense()">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;Add
      </button>
    </div>
  </div>
  <section>
    <div class="container">
      <section id="blog_area" class="pt-5">  
        <div id="masonry">
          <div class="card" *ngFor="let travelExpense of travelExpenseArr">
            <div class="card__content">
              <div class="mt-2 card__content-jcenter rounded-m border border-gray-100 box p-2 h-fit"
                style="background-color: #2dd4bf">
                <div class="row">
                  <div class="row">
                    <div class="fw-bold col-10 
            mt-1">
                      Travel Expense Mode :&nbsp;{{travelExpense.travelExpenseMode}}
                    </div>
                    <div class="col-1 mt-2">
                      <button class="btn float-right" (click)="editTransportExpense(travelExpense._id)" style="
                  background-color: rgb(253 179 18);
                  padding: 0px 4px;">
                        <i class="fa fa-edit fa-xs"></i></button>&nbsp;&nbsp;
                    </div>
                  </div>
                  <div class="row" style="margin-top: -45px;">
                    <div class="fw-bold col-8 mt-1">
                      Cost Type :&nbsp;{{getCostTypeString(travelExpense.costType)}}
                    </div>
                    <div class="col-1"></div>
                  </div>
                  <ul *ngIf="travelExpense.costType == 1">
                    <div style="background-color: #163339; padding: 15px;">
                      <div class="row" style="color: white;">
                        <div class="col-4">
                          <div>From (km)</div>
                          &nbsp;&nbsp;
                        </div>
                        <div class="col-4">
                          <div>To (km)</div>
                          &nbsp;&nbsp;
                        </div>
                        <div class="col-4">
                          <div>Cost</div>
                          &nbsp;&nbsp;
                        </div>
                      </div>
                      <li *ngFor="let distance of travelExpense.distance">
                        <div class="row" style="color: white">
                          <div class="col-4">
                            <div>{{ distance.from }}</div>
                            &nbsp;&nbsp;
                          </div>
                          <div class="col-4">
                            <div>{{ distance.to }}</div>
                            &nbsp;&nbsp;
                          </div>
                          <div class="col-4">
                            <div>{{ distance.cost }}</div>
                            &nbsp;&nbsp;
                          </div>
                        </div>
                      </li>
                    </div>
                  </ul>
                  <ul *ngIf="travelExpense.costType == 0">
                    <div style="background-color: #163339; padding: 15px;">
                      <div class="row" style="color: white;">
                        <div class="col-4">
                          <div>cost: {{ travelExpense.newPerKmCost }}</div>
                          &nbsp;&nbsp;
                        </div>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <h4 class="text-center" *ngIf="travelExpenseArr.length == 0">No Data Available</h4>
    </div>
  </section>
</div>
<app-flash-message></app-flash-message>