<div class="main bg-white p-6 rounded-lg shadow-lg">
    <div class="card">
        <div class="card-header">
            <h2 class="card-header heading text-2xl font-bold">Transport Expense</h2>
            <button class="card-header btn float-right" (click)="addTransportExpense()"><i
                    class="fa fa-plus"></i>&nbsp;&nbsp;Add</button>
        </div>
    </div>
    <section class="flex items-center justify-center">
        <div class="container">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
                <thead class="text-white">
                    <tr
                        class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                        <th class="p-3 text-left"> Travel Expense Mode</th>
                        <th class="p-3 text-left">Travel Expense Cost</th>
                        <th class="p-3 text-left" width="110px"> Action</th>
                    </tr>
                </thead>
                <tbody class="flex-1 sm:flex-none">
                    <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0"
                        *ngFor="let travelExpense of travelExpenseArr">
                        <td class="border-grey-light border hover:bg-gray-100 p-3">{{travelExpense.travelExpenseMode}}
                        </td>
                        <td class="border-grey-light border hover:bg-gray-100 p-3">{{travelExpense.travelExpenseCost}}
                        </td>
                        <td
                            class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer">
                            <button class="btn" (click)="editTransportExpense(travelExpense.id)"><i
                                    class='fa fa-edit'></i></button>&nbsp;&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<app-flash-message></app-flash-message>