::ng-deep ngx-material-timepicker-content {
  --button-color: #2dd4bf !important;
  --dial-background-color: #2dd4bf !important;
  --dial-editable-active-color: #2dd4bf !important;
  --clock-hand-color: #2dd4bf !important;
}
.btn_delete {
  background-color: white;
    color: red;
    border: none;
}