<div class="main bg-white p-6 rounded-lg ">
    <div class="card">
        <div class="card-header">
            <h2 class="card-header heading text-2xl font-bold">Role</h2>
            <button class="card-header btn float-right" (click)="addeditForm()"><i
                    class="fa fa-reply"></i>&nbsp;Back</button>
        </div>
    </div>
    <section class="flex items-center justify-center">
        <div class="container mt-4">
            <form class="form" novalidate="" [formGroup]="roleForm">
                <div class="grid sm:grid-cols-1 md:grid-cols-1 md:gap-3 ">
                    <div>
                        <label for="name" class="block mb-2 font-bold text-gray-600 ">Role Name<span
                                class="required">*</span></label>
                        <input type="text" id="name" name="name" placeholder="Enter Role Name"
                            class="border border-gray-300  p-2 w-full rounded " formControlName="name">
                        <div class="error-msg-area">
                            <div *ngIf="roleForm.controls['name'].errors && (!roleForm.controls['name'].pristine|| isroleFormSubmitted)"
                                class="error-msg">
                                <div [hidden]="!roleForm.controls['name'].errors.required">Please Enter Role Name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h1 class="font-bold text-teal-400 mb-2 mt-4" style="font-size: x-large;">Add Slot</h1>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-2">
                        <button class="block float-right bg-teal-400 text-white mt-4 font-bold p-2 rounded-lg "
                            (click)=" saveSlot()">Add Slot</button>&nbsp;
                    </div>
                </div>
                <ng-container formArrayName="slots"
                    *ngFor="let room of roleForm.get('slots')['controls']; let i = index;">
                    <ng-container [formGroupName]=i>
                        <div class="grid sm:grid-cols-1 md:grid-cols-4 md:gap-3 ">

                            <div>
                                <label for="name" class="block mb-2 font-bold text-gray-600 mt-4 ">Slot Name<span
                                        class="required">*</span></label>
                                <input type="text" id="name" name="name" placeholder="Enter  Slot Name"
                                    class="border border-gray-300  p-2 w-full rounded " formControlName="slotName">
                                <div class="error-msg-area">
                                    <div
                                        *ngIf="roleForm.controls['slots']['controls'][i]['controls'].slotName?.errors && (!roleForm.controls['slots']['controls'][i]['controls'].slotName?.pristine|| isroleFormSubmitted)">
                                        <div
                                            [hidden]="!roleForm.controls['slots']['controls'][i]['controls'].slotName?.errors.required">
                                            Please Enter slot Name
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="twitter" class="block mb-2 font-bold text-gray-600 mt-4">Start Time<span
                                        class="required">*</span></label>
                                <input class="border border-gray-300 shadow p-2 w-full rounded " type="text"
                                    placeholder="Select Start Time" formControlName="startTime" name="startTime"
                                    [ngxTimepicker]="startrange" [format]="24">
                                <ngx-material-timepicker #startrange (opened)="startpickerOpened = true;"
                                    [defaultTime]="'06:00 am'" [minutesGap]="5"
                                    (timeSet)="enableEndTIme($event)"></ngx-material-timepicker>
                                <div class="error-msg-area">
                                    <div
                                        *ngIf="roleForm.controls['slots']['controls'][i]['controls'].startTime?.errors && (!roleForm.controls['slots']['controls'][i]['controls'].startTime?.pristine|| isroleFormSubmitted)">
                                        <div
                                            [hidden]="!roleForm.controls['slots']['controls'][i]['controls'].startTime?.errors.required">
                                            Please Enter Start time
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="name" class="block mb-2 font-bold text-gray-600 mt-4">End Time<span
                                        class="required">*</span></label>
                                <input class="border border-gray-300 shadow p-2 w-full rounded " type="text"
                                    placeholder="Select End Time" formControlName="endTime" name="endTime"
                                    [ngxTimepicker]="Endrange" [format]="24" [min]="endMinTime">
                                <ngx-material-timepicker #Endrange (opened)="endpickerOpened = true;"
                                    [defaultTime]="'18:00 pm'" [minutesGap]="5">
                                </ngx-material-timepicker>
                                <div class="error-msg-area">
                                    <div
                                        *ngIf="roleForm.controls['slots']['controls'][i]['controls'].endTime?.errors && (!roleForm.controls['slots']['controls'][i]['controls'].endTime?.pristine|| isroleFormSubmitted)">
                                        <div
                                            [hidden]="!roleForm.controls['slots']['controls'][i]['controls'].endTime?.errors.required">
                                            Please Enter End Time
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>

                                <button class="card-header btn_delete ml-4  mt-5" (click)="RemoveSlot(i)"><i
                                        class="fa fa-trash"></i></button>


                            </div>

                        </div>
                    </ng-container>
                </ng-container>


                <div class="row">
                    <div class="col-11"></div>


                    <div class="col-1">
                        <button class="block float-right bg-teal-400 text-white font-bold p-2 rounded-lg mt-4"
                            *ngIf="!showAddEdit" (click)=" saveRole()">Submit</button>
                        <button class="block float-right bg-teal-400 text-white font-bold p-2 rounded-lg mt-4"
                            *ngIf="showAddEdit" (click)="updateRole()">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<app-flash-message></app-flash-message>